.App {
  text-align: center;
}

.My_cart {
  position: relative;
  width: 30%;
  margin: 20px;
  padding: 5px;
  border: 1px solid black;
}

.img_wrap img {
  width: 100%;
}

.bi-bag-plus-fill {
  position: absolute;
  top: 20px;
  right: 20px;
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  color: white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.addToCart {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  border: 0;
  background: #000;
  color: white;
  cursor: pointer;
}